{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body>
    <!-- Main container for the record creation form -->
    <div class="container bg-light shadow-md p-5 form-layout" style="max-width: 600px; margin: auto; padding-top: 30px; padding-bottom: 30px; border-radius: 10px;">
        <!-- Main title of the page -->
        <h3 class="text-center">Create Record</h3>
        <!-- Subtitle with instructions -->
        <h6 class="text-center">Start adding the required details for your record.</h6>
        <!-- Horizontal line separator -->
        <hr>
        <br>
        <!-- Form for record creation -->
        <form method="POST" autocomplete="off">
            <!-- CSRF token for CSRF protection -->
            {% csrf_token %}
            <!-- Render the form using crispy_forms -->
            {{ form|crispy }}
            <br>
            <!-- Button to submit the form -->
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary w-100 mr-2">Create Record <i class="fa fa-check"></i></button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary w-100 ml-2" style="background-color: #f0ad4e; color: white;">Return <i class="fa fa-arrow-left"></i></a>
            </div>
        </form>
    </div>
</body>

{% endblock %}
