{% extends "webapp/base.html" %}

{% block content %}

    <h5> Welcome to the dashboard page! {{user}} </h5>

    <hr> 
    {% comment %} Se crea botton para crear un record nuevo que se graba en la base datos {% endcomment %}
    <a class="btn btn-outline-primary btn-sm" href={% url 'dashboard' %}>

        Create a new record
    </a>

    <hr>

    <table class="table table-light table hover">
        
        <thead class="table-light">

            <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Full name </th>
                <th scope="col"> Email </th>
                <th scope="col"> Phone </th>
                <th scope="col"> Address </th>
                <th scope="col"> City </th>
                <th scope="col"> Country </th>

                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td>


                </td>

            </tr>

        </tbody>


    </table>

    {% comment %} Aqui saldra el output de los datos que estan en la base de datos ejemplo nombre {% endcomment %}

{% endblock %}

