{% extends "webapp/base.html" %}


{% block content %}

    <body>

        <div class="text-center">

        <h3> ProjectX... Management at its finest! </h3>

        <br>

        <h5> Keep track of your records effectively! </h5>
        
        {% comment %} Line que divide el texto con el botton {% endcomment %}
        <hr>

        <br> 
            {% comment %} Button in homepage that when press the url takes your to the Register page  {% endcomment %}
        <a class='btn btn-primary' type="button" href="{% url '' %}">Create your account</a>





    </body>
    

{% endblock %}