{% extends "webapp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    .full-height {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container bg-light shadow-md p-5 form-layout full-height">

    <div style="width: 100%; max-width: 500px;">
        <h3 class="text-center">Start managing your clients today!</h3>

        <hr>
        <br>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Create account&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i></button>
        </form>

        <br>

        <div class="text-center">
            <p>Already have an account?</p> <a href="{% url 'my-login' %}" class="blue-link">Login</a>
        </div>
    </div>

</div>

{% endblock %}
