{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body>

    <!-- Main container for the record update form -->
    <div class="container bg-light shadow-md p-5 form-layout" style="max-width: 600px; margin: auto; padding-top: 30px; padding-bottom: 30px; border-radius: 10px;">

        <!-- Main page title -->
        <h3 class="text-center">Update Record</h3>

        <!-- Subtitle with instructions -->
        <h6 class="text-center">Update your record down below</h6>

        <!-- Horizontal line for separation -->
        <hr>
        <br>

        <!-- Form for updating records -->
        <form method="POST" autocomplete="off">

            <!-- CSRF token for protection against CSRF attacks -->
            {% csrf_token %}

            <!-- Render the form using crispy_forms -->
            {{ form|crispy }}

            <br>

            <!-- Buttons to submit the form and return -->
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary w-100 mr-2">Update Record&nbsp;<i class="fa fa-check"></i></button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary w-100 ml-2" style="background-color: #f0ad4e; color: white;">Return&nbsp;<i class="fa fa-arrow-left"></i></a>
            </div>
        </form>

    </div>
</body>   

{% endblock %}
