{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body>

    <!-- Main container for the record update form -->
    <div class="container bg-light shadow-md p-5 form-layout">

        <!-- Main page title -->
        <h3> Update record </h3>

        <!-- Subtitle with instructions -->
        <h6> Update your record down below </h6>

        <!-- Horizontal line for separation -->
        <hr>
        <br>

        <!-- Form for updating records -->
        <form method="POST" autocomplete="off">

            <!-- CSRF token for protection against CSRF attacks -->
            {% csrf_token %}

            <!-- Render the form using crispy_forms -->
            {{ form|crispy }}

            <br>

            <!-- Button to submit the form -->
            <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Update record </button>
        </form>

    </div>
</body>   

{% endblock %}
